@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    font-family: 'Numans', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #343a40;
}

.error{
    color: red;
}